<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SABORES | PIZZERIA</title>
   <link rel="stylesheet" href="personalizado.css">
  </head>
  <body>
    <h1>SABORES</h1>
    <section>
      <div class="container">
        <div class="carousel">
          <input type="radio" name="slides" checked="checked" id="slide-1" />
          <input type="radio" name="slides" id="slide-2" />
          <input type="radio" name="slides" id="slide-3" />
          <input type="radio" name="slides" id="slide-4" />
          <input type="radio" name="slides" id="slide-5" />
          <input type="radio" name="slides" id="slide-6" />
          <input type="radio" name="slides" id="slide-7" />
          <input type="radio" name="slides" id="slide-8" />
          <input type="radio" name="slides" id="slide-9" />
          <ul class="carousel__slides">
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="Sabores/4quesos.jpg" alt="4 Quesos" />
                </div>
                <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, katupyry, queso roquefort, oregano y un toque de esencia de ajo.
                  <span class="credit">Precio: Gs. 60.000</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="Sabores/chesseburger.jpg" alt="Cheese Burger" />
                </div>
                <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, trocitos de hamburguesa, queso cheddar, oregano y un toque de esencia de ajo.
                  <span class="credit">Precio: Gs. 65.000</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="Sabores/chocloylocote.jpg" alt="Choclo y locote" />
                </div>
                <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, choclo, morrones, katupyry, oregano y un toque de esencia de ajo.
                  <span class="credit">Precio: Gs. 55.000</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="Sabores/margaret.jpg" alt="Margaret" />
                </div>
                <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, tomate en rodajas, albahaca, oregano y un toque de esencia de ajo.
                  <span class="credit">Precio: Gs. 55.000</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="Sabores/mexicana.jpg" alt="Mexicana" />
                </div>
                <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, chorizo picante en rodajas, cebollas, morrones, aji natural, oregano y un toque de esencia de ajo.
                  <span class="credit">Precio: Gs. 65.000</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="Sabores/mozzarella.jpg" alt="mozzarella" />
                </div>
                <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, oregano y un toque de esencia de ajo.
                  <span class="credit">Precio: Gs. 45.000</span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
                <figure>
                  <div>
                    <img src="Sabores/palmito.jpg" alt="" />
                  </div>
                  <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, palmito picado, aceitunas negras cortadas en rodajas, oregano y un toque de esencia de ajo.
                    <span class="credit">Precio: Gs. 55.000</span>
                  </figcaption>
                </figure>
              </li>
              <li class="carousel__slide">
                <figure>
                  <div>
                    <img src="Sabores/peperoni.jpg" alt="Peperoni" />
                  </div>
                  <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, peperoni, oregano y un toque de esencia de ajo.
                    <span class="credit">Precio: Gs. 65.000</span>
                  </figcaption>
                </figure>
              </li>
              <li class="carousel__slide">
                <figure>
                  <div>
                    <img src="Sabores/primavera.jpg" alt="primavera" />
                  </div>
                  <figcaption>
                    Prepizzas hechas artesanalmente, salsa de tomate, queso mozzarella, aceitunas verdes, aceitunas negras, choclo, morrones, queso parmesano, oregano y un toque de esencia de ajo.
                    <span class="credit">Precio: 55.000</span>
                  </figcaption>
                </figure>
              </li>
          </ul>
          <ul class="carousel__thumbnails">
            <li>
              <label for="slide-1"
                ><img src="Sabores/4quesos.jpg" alt="4 Quesos"
              /></label>
            </li>
            <li>
              <label for="slide-2"
                ><img src="Sabores/chesseburger.jpg" alt="chesseburger"
              /></label>
            </li>
            <li>
              <label for="slide-3"
                ><img src="Sabores/chocloylocote.jpg" alt="Choclo y locote"
              /></label>
            </li>
            <li>
              <label for="slide-4"
                ><img src="Sabores/margaret.jpg" alt="Margaret"
              /></label>
            </li>
            <li>
              <label for="slide-5"
                ><img src="Sabores/mexicana.jpg" alt="Mexicana"
              /></label>
            </li>
            <li>
              <label for="slide-6"
                ><img src="Sabores/mozzarella.jpg" alt="mozzarella"
              /></label>
            </li>
            <li>
                <label for="slide-7"
                  ><img src="Sabores/palmito.jpg" alt="palmito"
                /></label>
              </li>
              <li>
                <label for="slide-8"
                  ><img src="Sabores/peperoni.jpg" alt="peperoni"
                /></label>
              </li>
              <li>
                <label for="slide-9"
                  ><img src="Sabores/primavera.jpg" alt="primavera"
                /></label>
              </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
