* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    height: 150px;
    position: relative;
}

nav {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
}

nav ul {
    list-style: none;
}

nav>ul {
    display: table;
    overflow: hidden;
    width: 100%;
    background: #000;
}

nav>ul li {
    /* display: table-cell; */
}

nav>ul>li:hover>ul {
    display: block;
    height: 100%;
}

nav>ul>li>ul {
    display: block;
    position: absolute;
    background: #000;
    color: #ffffff;
    padding: 2px;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

nav>ul li a {
    color: #ffffff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}


/* nav>ul>li>ul>li a:hover {
    background: #fa0303;
} */

nav>ul>li>a span {
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

nav>ul>li>a span .icon {
    display: block;
    line-height: 60px;
}

nav>ul>li>a:hover>span {
    top: 0;
}


/*colores*/

nav ul li a .uno {
    background: #9b59b6;
}

nav ul li a .dos {
    background: #75848f;
}

nav ul li a .tres {
    background: #e67e22;
}

nav ul li a .cuatro {
    background: #2ecc71;
}

nav ul li a .cinco {
    background: #e74c3c;
}